@import '../../variables.scss';

header {
    width: 45%;
    padding: 33.5px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    position: absolute;
    left: 152px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;

    @media (max-width: 1025px) {
        position: absolute;
        left: 35px;
        width: 80%;
        opacity: 1;
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
        
        .logo {
            width: 30%;
            margin-right: 20px;
        }
    }

    div {
        display: flex;
        align-items: center;
        width: 454px;
        justify-content: space-between;

        a {
            cursor: pointer;
            font-family: Plus Jakarta Sans;
            color: $black;
            font-size: 1vw;
            line-height: 5vw;
            font-weight: bold;
        }
    }
}
