@import '../../variables.scss';

section#one {

    display: flex;
    align-items: center;
    // width: 100%;
    height: 918px;
    position: relative;

    @media (max-width: 1025px) {
        flex-direction: column;
        // width: 100%;
        justify-content: space-between;
        height: 335vw;
        margin-bottom: 50px;
        // height: 1400px;
    }

    .ellipse1 {
        position: absolute;
        width: 30vw;
        height: 482px;
        left: 20px;
        top: 100px;
        background: radial-gradient(50% 50% at 50% 50%, #F8EAE8 0%, rgba(248, 234, 232, 0) 100%);

        @media (max-width: 1025px) {
            top: 120px;
            left: -50px;
            width: 120vw;
            height: 120vw;
        }
    }

    .ellipse2 {
        position: absolute;
        width: 30vw;
        height: 482px;
        left: 254px;
        top: 392px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(229, 233, 244, 0.5) 0%, rgba(229, 233, 244, 0) 100%);

        @media (max-width: 1025px) {
            width: 120vw;
            height: 120vw;
            left: 150px;
        }
    }

    .left {
        // width: 60%;
        // background-color: cornflowerblue;
        // z-index: 2;
        // position: relative;
        // height: 100vh;
    }

    .left-content {
        position: absolute;
        width: 40vw;
        height: 456px;
        left: 152px;
        top: 191px;
        // background-color: cornflowerblue;

        @media (max-width: 1025px) {
            // width: 100%;
            width: 100vw;
            left: 30px;
        }

        & h1 {
            font-family: Cormorant Garamond;
            font-size: 65px;
            line-height: 70px;
            font-weight: 500;
            padding: 40px 0;

            & span {
                font-weight: bold;
            }

            @media (max-width: 1025px) {
                font-size: 20vw;
                line-height: 18vw;
            }
        }

        .text {
            font-family: Plus Jakarta Sans;
            font-size: 16px;
            line-height: 22.4px;
            font-weight: normal;
            padding: 40px 0 60px 0;
            max-width: 65%;

            @media (max-width: 1025px) {
                max-width: 80%;
                font-size: 5vw;
                line-height: 6vw;
            }
        }

        .cta {
            display: flex;
            align-items: center;

            // @media (max-width: 1025px) {
            //     width: 80%;
            // }

            & button {
                font-family: Helvetica Neue;
                font-size: 15px;
                font-weight: 500;
                color: $white;
                background-color: $primary-btn;
                border-radius: 100px;
                padding: 6px 23px;
                outline: none;
                margin-right: 20px;

                @media (max-width: 1025px) {
                    margin-right: 3vw;
                }
            }

            & :nth-child(2) {
                display: flex;
                align-items: center;

                & p {
                    font-family: Helvetica Neue;
                    font-size: 15px;
                    font-weight: 500;
                    font-style: normal;
                    color: $secondary-btn;
                    margin-right: 8px;
                }
            }
        }
        .active-bar {
            display: flex;
            align-items: center;
            margin-top: 70px;

            .active-bar-items {
                font-family: Plus Jakarta Sans;
                border-right: 2px solid rgba(29, 29, 28, 0.2);
                height: 68px;
                margin-right: 60px;
                padding-right: 40px;

                @media (max-width: 1025px) {
                    height: 50px;
                    // margin-right: 40px;
                    // padding-right: 20px;
                    margin-right: 10vw;
                    padding-right: 5vw;
                    height: 13vw;
                }


                & :nth-child(1) {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: normal;

                    @media (max-width: 1025px) {
                        // font-size: 12px;
                        font-size: 3.5vw;
                    }
                }

                & :nth-child(2) {
                    font-size: 24px;
                    line-height: 33px;
                    font-weight: 700;
                    padding-top: 10px;

                    @media (max-width: 1025px) {
                        // font-size: 18px;
                        font-size: 4vw;
                    }
                }
            }
            & .active-bar-items-2 {
                border-right: none;
            }
        }
    }

 
    .right {
        // position: absolute;
        // right: 0px;
        // top: 0px;
        // width: calc(100% - 6.25vw - 6.25vw);

        // // width: 40%;
        // // height: 50vw;
        // height: 50%;
        
        width: 100%;
        // height: 918px;
        // left: 804px;
        // top: 0px;
        // height: 100%;
        // right: 0px;
        padding: 0px 20px;
        z-index: 5;

        & .background {
            width: 40vw;
            height: 918px;
            // width: 636px;
            top: 0px;
            position: absolute;
            // left: 804px;
            right: 0px;

            @media (max-width: 1025px) {
                display: none;
            }
        }

        & .cardo-card {
            width: 100%;
            height: 70vw;
            display: block;
            z-index: 2;
        }
    }
}